.hero {
    width: 100vw;
    height: 100vh;
}

.hero__titlefirst {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 223.005px;
    line-height: 272px;

    color: #3FBE6B;
}

.hero__image {}